@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0a364f;
  --primaryDark: '#072537';
  --primaryLight: '#3a5e72';
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;

}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: --font-sans, sans-serif;
}
.underline-animation {
  position: relative;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary);
  transition: width 0.3s ease-in-out;
}
.underline-animation:hover::after {
  width: 100%;
}
.underline-animation-white {
  position: relative;
}
.underline-animation-white::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
.underline-animation-white:hover::after {
  width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #4a4a4a;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  width: max-content;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.group:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown-menu a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: #4a4a4a;
}
.dropdown-menu a:hover {
  color: #fff;
}
.servicesBg {
  background-image: linear-gradient(rgb(0 0 0 / 0.08), rgb(0 0 0 / 0.08)),
    url(/images/services-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projects {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(/images/projectsBg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.workQuality {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(/images/projectsBg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonials {
  position: relative;
}
.testimonials::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6c8695;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 70%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
@media (max-width: 1024px) {
  .testimonials::before {
    width: 100%;
  }
}
.text-bg-color {
  background-color: #3a5e72;
  color: white !important;
  padding: 8px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: max-content;
}
.text-bg-white {
  background-color: #fff;
  color: #3a5e72 !important;
  padding: 8px 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: max-content;
}
.swiper-slide {
  height: auto !important;
}
.breadcrumb {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(/images/projectsBg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.productModal {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 0.5s ease-out;
  animation-fill-mode: both;
}
@media (min-width: 768px) {
  .productModal {
    max-height: 500px;
  }
}
@media (min-width: 1024px) {
  .productModal {
    max-height: 1000px;
  }
}


@keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 2s linear infinite;
  }
  